<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger">
    <thead>
      <tr>
          <th>Customer ID</th>
          <th>Customer Name</th>
          <th>Customer Address</th>
      </tr>
  </thead>
      <tbody *ngIf="customers?.length != 0">
              <tr *ngFor="let customer of customers">
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.customerName }}</td>
          <td>{{ customer.customerAddress }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="customers?.length == 0">
      <tr>
          <td colspan="3" class="no-data-available">No data!</td>
      </tr>
  </tbody>
</table>